unsafe-perm=true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=E68C37C5-7BE7-4F4B-9BA8-707FC4D63756
@alycecom:registry=https://gitlab.alycedev.com/api/v4/projects/153/packages/npm/
//gitlab.alycedev.com/api/v4/projects/153/packages/npm/:_authToken=F3gGFW3FC6q3fgyUyVyP
