# How to use
# https://docs.gitlab.com/ee/user/project/code_owners.html

# We can specify a default match using wildcards:
* @user-groups/frontend

[Applications]
/src/modules/AuthModule @user-groups/frontend-techleads

[Deployment]
/.gitlab/ @user-groups/devops
docker-compose.yaml @user-groups/frontend-techleads
*ockerfile @user-groups/frontend-techleads

[Dependencies]
.npmrc @user-groups/frontend-techleads

[Documentation]
*.md @user-groups/frontend
